@model SmartLibrary.Models.ViewModels.PagedResult<SmartLibrary.Models.ViewModels.Book.BookViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Tìm kiếm -->
<div class="card mb-4">
    <div class="card-header">
        <h4 class="card-title d-flex justify-content-between align-items-center">
            <!-- Ô tìm kiếm đơn giản -->
            <form method="get" action="@Url.Action("Index")" class="d-flex align-items-center">
                <input type="text" name="searchString" class="form-control me-2" value="@Model.SearchString" placeholder="Tìm kiếm..." />
                <button type="submit" class="btn btn-primary me-2"><i class="fa-solid fa-search"></i></button>
                <a type="button" href="@Url.Action("Index", "Book")" class="btn btn-secondary"><i class="fa-solid fa-refresh"></i></a>
            </form>
        </h4>
    </div>

</div>

<!-- Bảng danh sách sách -->

<div class="card mb-4">
    <div class="card-header">
        <h4 class="card-title d-flex justify-content-between">
            Danh sách
            @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
        </h4>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col" class="text-nowrap">@Html.DisplayNameFor(model => model.Items.FirstOrDefault().CoverImage)</th>
                        <th scope="col" class="text-nowrap">
                            <a href="@Url.Action("Index", new { sortOrder = ViewBag.TitleSortParam, searchString = Model.SearchString })">Tiêu đề</a>
                        </th>
                        <th scope="col" class="text-nowrap">@Html.DisplayNameFor(model => model.Items.FirstOrDefault().Authors)</th>
                        <th scope="col" class="text-nowrap">@Html.DisplayNameFor(model => model.Items.FirstOrDefault().Categories)</th>
                        <th scope="col" class="text-nowrap">@Html.DisplayNameFor(model => model.Items.FirstOrDefault().Description)</th>
                        <th scope="col" class="text-nowrap">
                            <a href="@Url.Action("Index", new { sortOrder = ViewBag.PublisherSortParam, searchString = Model.SearchString })">Nhà xuất bản</a>
                        </th>
                        <th scope="col" class="text-nowrap">
                            <a href="@Url.Action("Index", new { sortOrder = ViewBag.PublishedDateSortParam, searchString = Model.SearchString })">Ngày xuất bản</a>
                        </th>
                        <th scope="col" class="text-nowrap">@Html.DisplayNameFor(model => model.Items.FirstOrDefault().ISBN)</th>
                        <th class="text-center">@Html.DisplayNameFor(model => model.Items.FirstOrDefault().AvailableCopies)</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td class="text-body">
                                <img src="@item.CoverImage" alt="Cover Image" class="img-thumbnail" style="width: 50px; height: auto;" />
                            </td>
                            <td class="text-body">@Html.DisplayFor(modelItem => item.Title)</td>
                            <td class="text-body">@Html.DisplayFor(modelItem => item.Authors)</td>
                            <td class="text-body">@Html.DisplayFor(modelItem => item.Categories)</td>
                            <td class="text-body">@Html.DisplayFor(modelItem => item.Description)</td>
                            <td class="text-body">@Html.DisplayFor(modelItem => item.Publisher)</td>
                            <td class="text-body">@Html.DisplayFor(modelItem => item.PublishedDate)</td>
                            <td class="text-body">@Html.DisplayFor(modelItem => item.ISBN)</td>
                            <td class="text-body">@Html.DisplayFor(modelItem => item.AvailableCopies)</td>
                            <td class="text-center">
                                <div class="btn-group" role="group">
                                    <!-- Dropdown nhóm các thao tác với kích thước nhỏ -->
                                    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" title="Thao tác">
                                        <i class="fa-solid fa-gear"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <li>
                                                <a href="@Url.Action("Edit", new { id = item.Id })" class="dropdown-item" title="Chỉnh sửa">
                                                    <i class="fa-solid fa-pen-to-square me-2"></i> Chỉnh sửa
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Details", new { id = item.Id })" class="dropdown-item" title="Xem chi tiết">
                                                    <i class="fa-solid fa-eye me-2"></i> Xem chi tiết
                                                </a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Delete", new { id = item.Id })" class="dropdown-item text-danger" title="Xóa" onclick="return confirm('Bạn có chắc chắn muốn xóa?');">
                                                    <i class="fa-solid fa-trash me-2"></i> Xóa
                                                </a>
                                            </li>
                                        }

                                        @if (User.IsInRole("User"))
                                        {
                                            <li>
                                                <a href="@Url.Action("Details", new { id = item.Id })" class="dropdown-item" title="Xem chi tiết">
                                                    <i class="fa-solid fa-eye me-2"></i> Xem chi tiết
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        @Html.Partial("_Pagination", Model.Pagination)
    </div>

</div>



