@model SmartLibrary.Models.ViewModels.PagedResult<SmartLibrary.Models.ViewModels.Author.AuthorViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Tìm kiếm -->
<div class="card mb-4">
    <div class="card-header">
        <h4 class="card-title d-flex justify-content-between align-items-center">
            <!-- Ô tìm kiếm đơn giản -->
            <form method="get" action="@Url.Action("Index")" class="d-flex align-items-center">
                <input type="text" name="searchString" class="form-control me-2" value="@Model.SearchString" placeholder="Tìm kiếm..." />
                <button type="submit" class="btn btn-primary me-2"><i class="fa-solid fa-search"></i></button>
                <a type="button" href="@Url.Action("Index", "Author")" class="btn btn-secondary"><i class="fa-solid fa-refresh"></i></a>
            </form>
        </h4>
    </div>
</div>


<!-- Bảng danh sách sách -->

<div class="card mb-4">
    <div class="card-header">
        <h4 class="card-title d-flex justify-content-between">
            Danh sách
            @Html.ActionLink("Thêm mới", "Create", null, new { @class = "btn btn-primary" })
        </h4>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            <a href="@Url.Action("Index", new { sortOrder = ViewBag.NameSortParam, searchString = Model.SearchString })">Tên tác giả</a>
                        </th>
                        <th>@Html.DisplayNameFor(model => model.Items.FirstOrDefault().DateOfBirth)</th>
                        <th>@Html.DisplayNameFor(model => model.Items.FirstOrDefault().Biography)</th>
                        <th class="text-center">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.AuthorName)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateOfBirth)</td>
                            <td>@Html.DisplayFor(modelItem => item.Biography)</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-sm btn-primary" title="Chỉnh sửa">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-sm btn-info text-white" title="Xem chi tiết">
                                        <i class="fa-solid fa-eye"></i>
                                    </a>
                                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-sm btn-danger" title="Xóa" onclick="return confirm('Bạn có chắc chắn muốn xóa?');">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        @Html.Partial("_Pagination", Model.Pagination)
    </div>

</div>